@import url('//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');

* {
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
}
.voltas {
    font-size: 32px ;
    font-weight: bold;
}

.voltas span{
    font-size: 144px;
    
}

button {
    background-color: #f9f9f9;
    border: 1px solid black;
    font-size: 9px;
    padding: 11px;
    margin: 5px ;
}

.bigger {
    font-size: 72px;
    font-weight: bold;
    line-height: 45px;
}

.tempo span{
    font-weight: bold;
    font-size: 32px;
}
